<!-- Default home page -->
<section>
    <perave>Loading...</perave>
    <blogposts>Loading...</blogposts>
</section>

<%- partial('description.ejs') %>

<%- partial('works.ejs') %>

<%- partial('description.ejs') %>

<%- partial('description.ejs') %>

<%- partial('description.ejs') %>

<%- partial('description.ejs') %>

<section></section>

<section></section>

<section></section>

<section></section>