<!-- Default home page -->
<section id="home">
    <div id="homeCarousel" class="carousel container carousel-fade slide no-margins">
        <div class="carousel-inner">
                <div class="active item one"></div>
                <div class="item two"></div>
                <div class="item three"></div>
                <div class="item four"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <homeTitle></homeTitle>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="carousel-controllers">
                    <div data-target="#homeCarousel" data-slide-to="0" class="active">
                        <span>01</span>
                        <span>Barcelona<br>Je t'aime</span>
                    </div>
                    <div data-target="#homeCarousel" data-slide-to="1">
                        <span>02</span>
                        <span>This is<br>Montreal</span>
                    </div>
                    <div data-target="#homeCarousel" data-slide-to="2">
                        <span>03</span>
                        <span>Urban<br>Pix Marseille</span>
                    </div>
                    <div data-target="#homeCarousel" data-slide-to="3">
                        <span>04</span>
                        <span>Shutter<br>Clothing</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<%- partial('description.ejs') %>

<%- partial('works.ejs') %>

<%- partial('parallax.ejs') %>

<%- partial('testimonials.ejs') %>

<%- partial('blogPosts.ejs') %>

<%- partial('parallax.ejs') %>

<%- partial('contact.ejs') %>

<%- partial('about.ejs') %>