<!-- Default home page -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <homeTitle></homeTitle>
            </div>
        </div>
    </div>
</section>

<%- partial('description.ejs') %>

<%- partial('works.ejs') %>

<%- partial('testimonials.ejs') %>

<%- partial('blogPosts.ejs') %>

<%- partial('contact.ejs') %>

<%- partial('about.ejs') %>